@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
@using Factory.Models
@using System.Collections.Generic

<h1>Machine Details</h1>

<hr />

<h2>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h2>

@if(@Model.JoinEntities.Count == 0)
{
  <h3>No engineers have been assigned to this machine yet.</h3>
}
else
{
  <h3>Engineers:</h3>
  <ul>
    @foreach (Assignment join in Model.JoinEntities)
    {
      <li>@join.Engineer.Name</li>

      @using (Html.BeginForm("DeleteJoin", "Assingments"))
      {
      @Html.Hidden("joinId", @join.AssignmentId)
      <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Add a machine", "Create")
<p>@Html.ActionLink("Edit machine", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Delete machine", "Delete", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Back to machine list", "Index")</p>