@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
@using Factory.Models

<h1>Engineer Details</h1>

<hr />

<h2>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h2>

@if (Model.JoinEntities.Count == 0)
{
  <h3>No machines have been assigned to this engineer yet.</h3>
}
else
{
  <h3>Machines:</h3>
  <ul>
    @foreach (Assignment join in Model.JoinEntities)
    {
      <li>@Html.ActionLink($"{machine.Name}", "Details", "Machines", new { id = machine.MachineId })</li>
      @using (Html.BeginForm("DeleteJoin", "Engineers"))
      {
        @Html.Hidden("joinId", @join.AssignmentId)
      }
    }
  </ul>
}

<p>@Html.ActionLink("Edit engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete engineer", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Back to engineer list", "Index")</p>