@{
  Layout = "_Layout";
}

@model Factory.Models.Assignment
@using Factory.Models

<h2>Add an engineer</h2>

<h4>Add an engineer to this assignment: @Html.DisplayFor(model => model.AssignmentId)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.AssignmentId)

    @Html.Label("Select engineer")
    @Html.DropDownList("EngineerId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>