<!-- @{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Assignment

<h1>Assignment Details</h1>

<hr />

<h2>@Html.DisplayNameFor(model => model.AssignmentId): @Html.DisplayFor(model => model.AssignmentId)</h2>

@if(@Model.Machines.Count == 0)
{
  <p>This assignment does not belong to any machines.</p>
}
else
{
  <h3>Machines the assignment belongs to:</h3>
  <ul>
  @foreach(Assignment join in Model.JoinEntities)
  {
    <li>@join.Machine.Name</li>
    @using (Html.BeginForm("DeleteJoin", "Assignments"))
    {
      @Html.Hidden("joinId", @join.AssignmentId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

@if(@Model.Engineers.Count == 0)
{
  <p>This assignment does not belong to any engineers.</p>
}
else
{
  <h3>Engineers the assignment belongs to:</h3>
  <ul>
  @foreach(Assignment join in Model.JoinEntities)
  {
    <li>@join.Engineer.Name</li>
    @using (Html.BeginForm("DeleteJoin", "Assignments"))
    {
      @Html.Hidden("joinId", @join.AssignmentId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}



<p>@Html.ActionLink("Edit Assignment", "Edit", new { id = Model.AssignmentId })</p>
<p>@Html.ActionLink("Delete Assignment", "Delete", new { id = Model.AssignmentId })</p>
<p>@Html.ActionLink("Add a machine", "AddMachine", new { id = Model.AssignmentId })</p>
<p>@Html.ActionLink("Add an engineer", "AddEngineer", new { id = Model.AssignmentId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p> -->