@{
  Layout = "_Layout";
}

@model Factory.Models.Assignment

<h2>Edit</h2>

<h4>Edit this assignment: @Html.DisplayFor(model => model.AssignmentId)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.AssignmentId)

    @Html.LabelFor(model => model.AssignmentId)
    @Html.EditorFor(model => model.AssignmentId)

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>